@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

/* body{
    position: relative;
    min-height: 100vh;
    width: 100%;
    overflow: hidden;
} */
.sidebar{
    height: 100%;
    width: 78px;
    position: fixed;
    padding: 6px 14px;
    background-color:  rgb(31, 54, 59);;
    transition: all 0.5s ease;
    z-index: 1;
    opacity: 0.8;
}
.sidebar.active{
    width: 200px;
}
.sidebar .logocon .logo{
    color: #fff;
    display: flex;
    font-size: 16px;
    font-weight: bold;
    height: 50px;
    width: 100%;
    align-items: center;
    opacity: 0;
}

.sidebar.active .logocon .logo{
    pointer-events: none;
    opacity: 1;
}

.logocon .logo i{
    font-size: 30px;
    color: yellow;
    margin-right:5px;
}

.sidebar #btn{
    position: absolute;
    color: #fff;
    left: 45%;
    top: 6px;
    font-size: 20px;
    height: 50px;
    width: 50px;
    text-align: center;
    line-height: 50px;
    transform: translateX(-50%);

} 

.sidebar.active #btn{
    left: 90%;
}
.sidebar ul{
    margin-top: 20px;
}
.sidebar ul li{
    position: relative;
    height: 50px;
    width: 100%;
    margin: 0 5px;
    list-style: none;
    color: #fff;
    line-height: 50px;
}
.sidebar ul li .tooltip{
  position: absolute;
  left: 122px;
  top: 0;
  transform: translateY(-50%,-50%);
  border-radius: 6px;
  height: 35px;
  width: 122px;
  background: #fff;
  box-shadow: 0 5px 10px rgba(0,0, 0, 0.2);
  color: #11101d;
  text-align: center;
  font-weight:bolder;
  line-height: 35px;
  transition: 0s;
  opacity: 0;
  pointer-events: none;

}

.sidebar.active ul li .tooltip{
    display: none;
}
.sidebar ul li:hover .tooltip{
    transition:all 0.5s ease;
    top:50%;
    opacity: 1;
}
.sidebar ul li a{
    color: #fff;
    text-decoration: none;
    display: flex;
    font-weight: bold;
    transition: all 0.4s ease;
    border-radius: 12px;
    margin-top: 50px;
    white-space: nowrap;
}

.sidebar ul li a:hover{
    color: #11101d;
    background-color: #fff;
}

.sidebar ul li a i{
    font-size: 20px;
    height: 50px;
    min-width: 50px;
    color: rgb(218, 218, 103);
    border-radius: 12px;
    line-height: 50px;
    text-align: center;
}

.sidebar.active .linksname{
    opacity: 1;
    pointer-events: auto;
}
.sidebar .linksname{
    opacity: 0;
    pointer-events: none;
}



#bg-slider{
    
    background:black;
    overflow: hidden;
}

img{
    height: 100vh;
    width: 100vw;
    object-fit: cover;
    
}
#bg-slider{
    position: relative;
    /* overflow: hidden; */

}
#bg-slider figure{
    position: inherit;
    width: 500%;
    margin:0;
    left:0;
    animation: 15s slider infinite;
    animation-timing-function: ease-in-out;
   

}
#bg-slider figure img{
    width: 20%;
    float: left;
}
@keyframes slider {
    0%{  
        left:0;
    }
    20%{
        left:0;
    }
    25%{
        left: -100%;
    }
    45%{
        left:-100%;
    }
    50%{
        left:-200%;
    }
    70%{
        left:-200%;
    }
    75%{
        left: -300%;
    }
    95%{
        left:-300%;
    }
    100%{
        left:-400%;
    }
} 




 .about{
    margin-top: 700px;
    z-index: 8;
    color: red;
}