*{
    margin: 0;
    padding: 0;
    box-sizing:border-box ;
}

.timesec{
    /* background-color: black; */
    min-height: 100vh;
    padding: 100px 15px;
}
.timeitem{
max-width: 1000px;
/* background-color: red; */
margin: auto;
display: flex;
flex-wrap: wrap;
position: relative;

}

.timeitem::before{
    /* max-width: 1000px; */
    content: "";
    position: absolute;
    width: 4px;
    height: 100%;
    background-color:rgb(45, 156, 45);
    left:50%;

}
.ti{
    /* background-color: yellow; */
    margin-bottom: 40px;
    width: 100%;
}

.ti:last-child{
    margin-bottom: 0px;

}

.ti:nth-child(odd){
       padding-right: calc(50% + 30px);
       text-align: right;
    }
    
    .ti:nth-child(even){
        padding-left: calc(50% + 30px);
        
    }
    .content{
        /* background-color: red; */
        padding: 30px;
        border-radius: 5px;
        /* border-color: white; */
        /* border: black solid 4px; */
        box-shadow: 5px 5px 5px 5px #888888;
    
}

.dot{
    height: 16px;
    width: 16px;
    background-color: yellow;
    position: absolute;
    left:calc(50% - 6px);
    border-radius: 50%;
    /* top: 10px; */
}

.date{
    font-size: 21px;
    color: #e2a41d;
    margin: 0px 5px 15px 9px;
    font-weight: bold;
}
.content h3{
    color:#e2a41d;
    font-size: 25px;
}

@media (max-width:767px) {
    .timeitem::before{
        left: 7px;
    }
    .ti:nth-child(odd){
        padding-right: 0px;
        text-align: left;
    }
    .ti:nth-child(even),.ti:nth-child(odd){
        padding-left: 38px;
    }
    .dot{
        left: 0px;
    }
}
